<!DOCTYPE html>
    <html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}Customer Reports{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('reports.static', filename='css/styles.css') }}">
        {% endblock %}
    </head>

    <body>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </body>
</html>
