{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}

{% block content %}
    <table class="tg">
      <tr>
        <th class="tg-c3owa" colspan="2">The Report</th>
      </tr>

      <tr>
        <td class="tg-dvpl">Organization:</td>
        <td class="tg-2ktp">{{ organization }}</td>
      </tr>
      <tr>
        <td class="tg-dvpl">Reported:</td>
        <td class="tg-2ktp">{{ reported_at }}</td>
      </tr>
      <tr>
        <td class="tg-dvpl">Created:</td>
        <td class="tg-2ktp">{{ created_at }}</td>
      </tr>
    </table>

    <table class="tg">
      <tr>
        <th class="tg-c3owb" colspan="3">Items</th>
      </tr>

      {% for item in inventory %}
          <tr>
              <td class="tg-c3owc" colspan="2">{{ item.name.title() }}:</td>
              <td class="tg-c3owd" colspan="2">{{ item.price }}</td>
          </tr>
      {% endfor %}
    </table>
{% endblock %}
