body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#content {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    #content {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.tg td {
    overflow: hidden;
    word-break: normal;
}

.tg th {
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-dvpl {
    width: 100%;
    font-size: 10pt;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}

.tg .tg-2ktp {
    white-space: nowrap;
    font-size: 10pt;
    vertical-align: top;
}

.tg .tg-c3owa {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
}

.tg .tg-c3owb {
    padding: 20px 0 5px;
    font-size: 12pt;
    text-align: center;
    vertical-align: top;
}

.tg .tg-c3owc {
    font-size: 10pt;
    text-align: right;
    vertical-align: top;
}

.tg .tg-c3owd {
    font-size: 10pt;
    text-align: left;
    vertical-align: top;
}
